.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  &_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: white;
    justify-content: center;
    position: sticky;
    z-index: 4;
    top: 0;

    &_inner {
      width: 90%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        a {
          display: flex;
          align-items: center;

          font-size: 24px;
          font-weight: 700;
          i {
            font-size: 18px;
            color: green;
            font-weight: 700;
          }
        }
      }
      .middle {
        display: none;
        @media screen and (min-width: 777px) {
          display: flex;
          flex-direction: column;
          align-items: end;
          width: 60%;
          height: 100%;
          justify-content: center;
          &_inner {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
              display: flex;
              align-items: center;
              gap: 1rem;
              list-style: none;
              li {
                font-size: 18px;
                font-weight: 600;
              }
              .active {
                color: green;
              }
            }
          }
        }
      }
      .mobile {
        display: none;
        @media screen and (max-width: 777px) {
          display: flex;
          .bar {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border: 1px solid;
          }
          .bar:hover {
            background-color: inherit;
            color: black;
          }
        }
      }
      .menu {
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100vw;
        right: 100vw;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        transition: all 0.5s ease;
        &.show {
          left: 0;
          right: 0;
        }
        &_inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          padding-block-start: 1rem;
          background-color: white;
          height: 100%;
          width: 50%;
          gap: 3rem;
          ul {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            width: 80%;
            a {
              font-size: 18px;
              font-weight: 600;
            }
          }
          &_right {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            align-items: start;
            justify-content: start;
            width: 80%;
            .link {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.3rem;
              cursor: pointer;
              i {
                font-size: 20px;
              }
              .fa-user {
                background-color: black;
                color: white;
                height: 1.5rem;
                width: 1.5rem;
                display: flex;
                align-items: end;
                justify-content: center;
                border-radius: 100%;
              }
              h1 {
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  &_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
      padding-block: 3rem;
    }
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;
      height: 80vh;
      background-color: white;
      border-bottom: 1px solid gray;

      &_inner {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
          width: 30%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            z-index: 3;
          }
          .box {
            background-color: green;
            height: 56vh;
            bottom: 3rem;
            border-radius: 1rem;
            width: 20%;
            right: 65%;
            position: absolute;
          }
        }
        &_right {
          width: 60%;
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 1rem;
          .top {
            width: 100%;
            h1 {
              font-size: 20px;
              font-weight: 600;
              color: gray;
              span {
                color: rgb(205, 88, 117);
              }
            }
          }
          .second {
            width: 100%;
            h1 {
              font-size: 65px;
              font-weight: 700;
              span {
                color: green;
              }
            }
          }
          .third {
            width: 100%;
            p {
              font-size: 20px;
              font-weight: 500;
              color: gray;
              span {
                font-weight: 600;
                color: rgb(205, 88, 117);
                i {
                  font-size: 14px;
                }
              }
            }
          }
          .bottom {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            &_left {
              display: flex;
              align-items: center;
              gap: 0.3rem;
            }
            &_right {
              p {
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .exp {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_header {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          width: 100%;
          font-size: 20px;
          color: green;
        }
      }
      &_inner {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        &_top,
        &_bottom {
          width: 100%;
          display: flex;
          align-items: start;
          gap: 4rem;
          justify-content: space-between;
          p {
            font-size: 40px;
            font-weight: 500;
            span {
              color: gray;
            }
          }
          .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            gap: 1rem;
            .box {
              width: 100%;
              height: 3rem;
              border: 1px solid gray;
              border-radius: 0.7rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              &_inner {
                width: 95%;
                height: 95%;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                &_left {
                  height: 70%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    height: 100%;
                    width: 100%;
                  }
                }
                &_right {
                  display: flex;
                  flex-direction: column;
                  gap: 0.1rem;
                  h1 {
                    font-size: 18px;
                    font-weight: 500;
                    color: grey;
                  }
                  h5 {
                    font-size: 12px;
                    font-weight: 600;
                    color: gray;
                  }
                }
              }
            }
            .box:hover{
              border: 1px solid black;
              h1{
                color: black;
              }
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            gap: 1rem;
            &_header,
            &_inner,
            &_bottom {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            &_header {
              h1 {
                width: 100%;
                color: green;
                font-size: 30px;
                font-weight: 600;
              }
            }
            &_inner {
              ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li {
                  font-size: 18px;
                }
              }
            }
            &_bottom {
              &_inner {
                width: 100%;
                display: flex;
                gap: 1rem;
                align-items: center;
                .box {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 2rem;
                  border: 1px solid;
                  border-radius: 0.5rem;
                  width: fit-content;
                  padding-inline: 0.5rem;
                  h3 {
                    font-size: 16px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
    .projects {
      border-block: 1px solid;
      background-color: white;
      height: fit-content;
      padding-block: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      &_header {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          width: 100%;
          font-size: 20px;
          color: green;
        }
      }
      &_inner {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .box {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 45vh;
          &_inner {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            gap: 1rem;
            &_left {
              width: 40%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                // border: 1px solid;
              }
              .bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 0;
                width: 0;
                transition: all 0.8s ease;
                position: relative;
                top: -102%;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 1rem;
                background-color: rgba(0, 0, 0, 0.5);
                .qrcode {
                  display: flex;
                  height: 100%;
                  width: 100%;
                  align-items: center;
                  justify-content: center;

                  &_inner {
                    width: 35%;
                    width: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                      border: 0;
                    }
                  }
                }
              }
            }
            &_left:hover {
              .bottom {
                height: 100%;
                width: 100%;
              }
            }
            &_right {
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 0.5rem;
              width: 50%;
              height: 100%;
              .top {
                width: 100%;
                height: 10%;
                h1 {
                  font-size: 20px;
                  font-weight: 700;
                  color: green;
                  text-transform: capitalize;
                }
              }
              .second {
                width: 100%;
                height: fit-content;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                  width: 100%;

                  font-size: 14px;
                  font-weight: 400;
                  color: gray;
                }
              }
              .third {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                &_header {
                  width: 100%;
                  color: rgb(205, 88, 117);
                  h2 {
                    font-size: 18px;
                    font-weight: 700;
                  }
                }
                &_inner {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 0.9rem;
                  width: 100%;
                  .info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid gray;
                    h3 {
                      font-size: 16px;
                      font-weight: 500;
                    }
                    p {
                      font-size: 16px;
                      font-weight: 500;
                    }
                  }
                }
                &_bottom {
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: all 0.8s ease;
                    font-size: 14px;
                    font-weight: 500;
                    color: green;
                    border-bottom: 1px;
                  }
                  a:hover {
                    transition: all 0.8s ease;
                    width: fit-content;
                    border-bottom: 1px solid green;
                  }
                }
              }
            }
          }
        }
      }
    }
    .skills {
      width: 100%;
      padding-block: 3rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      &_header {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 20px;
          color: green;
        }
      }
      &_top,
      &_bottom {
        width: 90%;
        margin-block: 1rem;
        .top,
        .left {
          h1 {
            font-size: 90px;
            font-weight: 800;
            span {
              color: green;
            }
          }
        }
      }
      .border {
        border: 1px solid rgb(198, 196, 196);
        border-inline: 0;
        width: 60%;
      }
      &_top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        .left {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: end;
        }
        .right {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          width: 40%;
          .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 4rem;
            justify-content: center;
            width: 70%;
            border-bottom: 2px solid gray;
            &_inner {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              gap: 1rem;
              color: gray;
              h2 {
                width: 100%;
                font-size: 35px;
                font-weight: 400;
              }
            }
          }
        }
      }
      &_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .top {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          &_inner {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
          }
        }
        .bottom {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          .skill {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: 2rem;
            width: fit-content;
            padding-inline: 0.5rem;
            border: 1px solid;
            border-radius: 0.5rem;
            &_inner {
              display: flex;
              align-items: center;
              gap: 0.2rem;
              h2 {
                font-size: 20px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  &_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: center;
    background-color: black;
    color: white;
    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90%;
      width: 90%;
      gap: 1rem;
      .left,
      .right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          width: 100%;
          font-size: 40px;
          .tag {
            font-size: 28px;
            color: rgb(205, 88, 117);
          }
          span {
            color: green;
          }
        }
        &_inner {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 1rem;
          &_top,
          &_bottom {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }
    }
  }
}
